<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard!</p>


<!--INDEX
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if condition}}
    <!--User logged in
    Condition is met
{{else}}
    <!--User not logged in -> SEND TO LOGIN/REGISTER FORM
    Condition not met
{{/if}}
-->
